/TypeParameterDemo1.class
/BoxDemo1.class
/StudentDemo1.class
/PredictableInterfaceDemo2.class
/LambdaDemo2.class
/PredicateFunctionalINterfaceDemo3.class
/PredicateInterfacePredefinedFunctionDemo4.class
/PredicateDemo5.class
/PredicateDemo6.class
/StudentDem06.class
/StudentRecordCommon.class
/PredicateDemo7.class
/PredicateDemo8.class
/RecordsDemo8.class
/CarRecordsDemo8.class
/EmployeeDemo9.class
/ConsumerDemo9.class
/CustomerDemo10.class
/ConsumerDemo10.class
/FunctionDemo11.class
/CompanyRecordsDemo12.class
/FunctionDemo12.class
