/FunctionaLInterfaceDemo1.class
/FunctionaLInterfaceImplementerDemo1$1.class
/FunctionaLInterfaceImplementerDemo1.class
/InterfaceLambdaExpression01Demo2.class
/InterfaceLambdaExpression02Demo2.class
/InterfaceLambdaExpression03Demo2.class
/LambdaExpressionDemo2$1.class
/LambdaExpressionDemo2.class
/InterfaceAdditionDemo3.class
/ClassAdditionDemo4.class
/ClassAdditionDemo3.class
/ClassAdditionDemo3$1.class
/IntefaceLengthDemo5.class
/IntefaceLengthDemo4.class
/ClassLengthDemo5.class
/ClassLengthDemo4.class
/ClassLengthDemo4$1.class
/InterfaceDrawableDemo5.class
/ClassDrawableDemo5.class
/ClassErrorUnderstandDrawableDemo5.class
/InterfaceErrorUnderstandDrawableDemo5.class
/ErrorUnderstandWillItWorkDemo5.class
/PassFunctionalInterfaceAsAParameterDemo6.class
/PassFunctionalInterfaceAsAParameterLambdaDemo6.class
/PassFunctionalInterfaceAsAParameterCalculatorDemo6.class
/PassFunctionalInterfaceAsAParameterCalculatorDemo7.class
/PassFunctionalInterfaceAsAParameterLambdaDemo7.class
